<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter ou Modifier une Note</title>
</head>
<body>

<!-- TITRE -->
<h2 th:if="${#objects.isEmpty(note.id)}">Ajouter une note</h2>
<h2 th:if="${!#objects.isEmpty(note.id)}">Modifier la note</h2>


<!-- FORMULAIRE POUR AJOUT -->
<!-- Formulaire pour ajout -->
<form th:if="${#objects.isEmpty(note.id)}" th:action="@{/notes/ajouter}" th:object="${note}" method="post">

    <label>Valeur :</label>
    <input type="number" step="0.01" th:field="*{valeur}" required/><br/><br/>

    <label>Étudiant :</label>
    <select th:field="*{etudiant}">
        <option th:each="et : ${etudiants}" th:value="${et.id}" th:text="${et.nom + ' ' + et.prenom}"></option>
    </select><br/><br/>

    <label>Module :</label>
    <select th:field="*{module}">
        <option th:each="mod  ${modules}" th:value="${mod.id}" th:text="${mod.nom}"></option>
    </select><br/><br/>

    <button type="submit">Ajouter</button>
</form>

<!-- FORMULAIRE POUR MODIFICATION -->
    <form th:if="${!#objects.isEmpty(note.id)}" th:action="@{'/notes/update/' + ${note.id}}" th:object="${note}" method="post">

    <label>Valeur :</label>
    <input type="number" step="0.01" th:field="*{valeur}" required/><br/><br/>

    <label>Étudiant :</label>
    <select th:field="*{etudiant}">
        <option th:each="et : ${etudiants}" th:value="${et.id}" th:text="${et.nom + ' ' + et.prenom}"></option>
    </select><br/><br/>

    <label>Module :</label>
    <select th:field="*{module}">
        <option th:each="mod  ${modules}" th:value="${mod.id}" th:text="${mod.nom}"></option>
    </select><br/><br/>

    <button type="submit">Mettre à jour</button>
</form>

<br>
<a th:href="@{/notes}">⬅ Retour</a>

</body>
</html>
